<div class="mat-app-background main-container">

	<div class="searchandsort">
		<div class="search-form">
			<mat-form-field>
				<mat-label>Search</mat-label>
				<input (keydown.enter)="getSearchResultsFromSearchBox(searchValue.value)" #searchValue matInput
					placeholder="Name or description" [value]="searchvalue">
				<mat-icon id="searchClear" inline="true" *ngIf="searchvalue" matSuffix mat-icon-button (click)="clearSearchValue()">close</mat-icon>
			</mat-form-field>
		</div>
		<div class="sort-dropdown">
			<mat-form-field>
				<mat-label>Sort</mat-label>
				<mat-select [(value)]="selectedsortvalue" (selectionChange)="getSearchResultsFromSort($event)">
					<mat-option *ngFor="let sortvalue of sortvalues" [value]="sortvalue.value">
						{{sortvalue.viewValue}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<app-image-details [imagedetails]="searchresults"></app-image-details>
	<div class="mat-app-background table-container" *ngIf="this.searchresults.length > 0">
		<mat-table [dataSource]="searchresults">
			<ng-container matColumnDef="id">
				<mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="imageurl">
				<mat-header-cell *matHeaderCellDef> ImageURL </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.imageurl}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="description">
				<mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</div>
	<mat-paginator [length]="searchresultcount" [pageSize]="itemsperpage" [pageSizeOptions]="itemsperpageoptions"
		(page)="getSearchResultsFromPaginator($event)">
	</mat-paginator>
</div>