.basic-container {
	padding: 70px;
}

.main-container {
	margin: 20px auto;
	width: 80%
}

.search-form {
	padding: 2% 0 0 2%; 
}

.sort-dropdown {
	padding: 2% 2% 0 0; 
} 

.searchandsort {
	display: flex;
	justify-content: space-between;
}

